body{
    background-color: #6E5AFF
}
.titulo{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}

.introducao{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: center;
    color: blue;
}
.texto1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}
.titulo2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}
.imagem1{
    display: flex;
    justify-content:center;
    align-items: center;
}
.texto2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}
.texto3{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}
.imagem2{
    border-radius: 1000px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{ 
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.botao:hover{
    background-color: #2980b9;

}
.titulo3{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
    color: black;
}
.topo{
    background-color: #8B83FF;
    height: 100vh;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}
